*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;

}

body{
    background-color: black;
    color: white;
    height: 100000px;
}

nav{
    padding: 1.5rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

}

.logo{
    font-size: 1.5rem;
    font-weight: bold;

}

.nav-links{
    display: flex;
    gap: 2rem;

}

.nav-links a{
    color: white;
    text-decoration: none;
    position: relative;
    padding-bottom: 0.25rem;

}
.nav-links a::after{
    content:'' ;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffc107;
    transition: width 0.3s ease;
}

.nav-links a:hover::after{
    width: 100%;
}

.nav-links a.active::after{
    width: 100%;
    background-color: #ffc107;
}

.icons i:hover{
    color:#ffc107

}

nav.scrolled{
    background-color: darkcyan;
    padding: 1rem 5%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}